/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  height: 100vh;
  background-color: #fffef8;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.valentine-wrapper {
  background-color: #ffe5fe;
  width: 70vw;
  height: 85vh;
  text-align: center;
}

.heart {
  display:inline-block;
  aspect-ratio: 1;
  border-image: radial-gradient(#ff69b4 69%,#0000 70%) 84.5% fill/100%;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

.pulseAnimated {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.flip-container {
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.flipped .flipper {
  transform: rotateY(180deg);
}

.text-reveal {
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  position: relative;
}

.s2 {
  transition: width 2s linear;
}

.s3 {
  transition: width 3s linear;
}

.text-reveal.revealed {
  width: 100%;
}

.particles {
  position: absolute;
  top: -10rem;
  left: -10rem;
  z-index: 10;
}

.particle {
  visibility: hidden;
  width: 1.4rem;
  border-image: radial-gradient(#ff0000 69%,#0000 70%) 84.5% fill/100%;
  transition: transform 1s;
}

.particle.rise {
  visibility: visible;
  transform: translate(2rem, -2rem);
  opacity: 0.2;
}

.particle.fall {
  visibility: visible;
  transform: translate(2rem, 2rem);
  opacity: 0.2;
}

.particle.space-reduction {
  left: -0.2rem;
}

.particle-row2 {
  margin-top: -1.4rem;
  margin-left: 1.4rem;
}

.particle-row3 {
  margin-top: -1.4rem;
}

.particle-row4 {
  margin-top: -1.4rem;
}

@font-face {
  font-family: Together;
  src: url(../Together.otf);
}

.main-text {
  font-family: Together,cursive;
  font-size: 10rem;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
  padding-left: 10px;
}

.name-text {
  font-family: Together,serif;
  font-size: 8rem;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
  padding-left: 5px;
}

.heart.big-red {
  width: 15% !important;
  border-image: radial-gradient(#ff0000 69%,#0000 70%) 84.5% fill/100%;
  position: absolute;
  top: 57% !important;
  left: 30% !important;
  background-color: unset;
  height: unset;
  line-height: unset;
}

.initial {
  width: 100vw;
  height: 100vh;
  background-color: red;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: all 2s, background-color 1s;
  z-index: 10;
  line-height: 100vh;
  font-size: 15vh;
  font-family: Together, cursive;
  color: white;
}

.heart.little-1 {
  width: 5%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.fade-in-out-animated {
  animation: fade-in-out 6s ease-in-out infinite;
}

@keyframes fade-in-out {
  0%,100% {
    opacity: 0;
    scale: 90%;
  }
  50% {
    opacity: 1;
    scale: 100%;
  }
}

.turn-icon {
  width: 6%;
  position: absolute;
  top: 86%;
  left: 77%;
  cursor: pointer;
  visibility: hidden;
}

#sound {
  width: 4%;
  position: absolute;
  bottom: 2%;
  left: 1%;
  cursor: pointer;
  visibility: hidden;
}
